body{ 
     height: 100vh;
     overflow: hidden;
      font-size: 10px;
       font-family: 'Courier New', Courier, monospace; 
       color: black;
}
 ul {
      list-style: none;
      
       display: flex; 
       justify-content: flex-end; 
       align-items: center; 
       text-decoration: none;
       font-size: 12px;
    } 
    .hov:hover{
         text-decoration: none;
    }
    .profile-pic {
          border-radius: 50%; 
          height: 30px;
          width: 30px;

    }
     #menu-link{ 
          padding-left: 10px; 
    }
    main{ margin-right: 25%;
         margin-top: 8%; 
         margin-left: 25%;
          text-align: center; 
        }
     html {
          font-size: 50px;
     }
     .img{
          border: 1px solid black;
          margin-bottom: 10px;
     }
     .input{
          margin:5px 0px;
          border: none;
          border-radius: 20px;
          border: 1px solid gray;
          padding: 5px 30px;
     }
     .searchInput {
          display: flex;

          align-items: center;
          border: 1px solid lightgray;
          height: 30px;
          padding: 10px 20px;
          border-radius: 999px;
          width:75vw;
          margin: 0 auto;
          margin-top: 40px;
          max-width: 560px;
     }
     .searchInput input{
          flex: 1;
          padding: 10px 20px;
          border: none;
          outline: none;
     }
     .btn{
          padding: 5px 10px;
          cursor: pointer;
          color: #666;
          border: none;
          margin-top: 8px;
                  
          justify-content: center;
     }
     .btn:hover{
          border: 0.5px solid #aaa;
     }
     #links {
          margin-top: 20px;
          text-align: center;
      }
      #links a {
          margin-right: 5px;
          text-decoration: none;
          color: blue;
      }
      #links a:hover {
          text-decoration: underline;
      }
     
